<div *ngIf="loading" class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Header Mobile -->
		<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
			<div class="kt-header-mobile__logo">
				<a href=".">
					<img width="200"  src="./assets/media/logos/ScriptMaestro_SBug.png"  />
				</a>
			</div>
			<div class="kt-header-mobile__toolbar">
				<button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
				<button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
				<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
			</div>
		</div>
        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                    <!-- begin::Aside Brand -->
                    <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                        <div class="kt-aside__brand-logo">
                            <a role="button" (click)="goHome()">
                                <img width="200"  src="./assets/media/logos/ScriptMaestro_SBug.png"  />
                            </a>
                        </div>
                    </div>
                    <!-- end:: Aside Brand -->

                    <!-- begin:: Aside Menu -->
                    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                        <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="2500">
                            <ul class="kt-menu__nav ">
                                <div class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a role="button" (click)="getFolder('Scripts')" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Scripts</span></a>
                                </div>
                            </ul>
                            <ul class="kt-menu__nav ">
                                <div class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a role="button" (click)="getFolder('Archive')" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Archive</span></a>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <!-- end:: Aside Menu -->
                </div>
                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->
                    <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
                        
                        <!-- begin:: Header Menu -->
                        <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                            <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
                            </div>
                        </div>
                        <!-- end:: Header Menu -->

                        <!-- begin:: Header Topbar -->
                        <div class="kt-header__topbar">
                            <!--begin:: Languages -->
                            <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                    <span class="kt-header__topbar-icon">
                                        <img class="" src="./assets/media/flags/020-flag.svg" alt="" />
                                    </span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
                                    <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                                        <li class="kt-nav__item kt-nav__item--active">
                                            <a href="#" class="kt-nav__link">
                                                <span class="kt-nav__link-icon"><img src="./assets/media/flags/020-flag.svg" alt="" /></span>
                                                <span class="kt-nav__link-text">English</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end:: Languages -->

                            <!--begin: User Bar -->
                            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px, 0px" >
                                    <div class="kt-header__topbar-user">
                                        <img alt="Pic" src="./assets/media/users/default.jpg" />
                                    </div>
                                </div>
                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
                                    <div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile" style="background-image: url(./assets/media/misc/head_bg_sm.jpg)">
                                        <div class="kt-user-card__wrapper">
                                            <div class="kt-user-card__pic">
                                                <img alt="Pic" src="./assets/media/users/default.jpg" />
                                            </div>
                                            <div class="kt-user-card__details">
                                                <div class="kt-user-card__name">{{currentUser.first_name}} {{currentUser.last_name}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="kt-nav kt-margin-b-10">
                                        <li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
                                            <div class="btn btn-pill btn-elevate" (click)="logout()">Sign out</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Header Topbar -->
                    </div>
                    <!-- end:: Header -->
                    <div class="" id="kt_content">
                        <div class="row">
                            <div class="col-xl">
    
                                <!--begin::Portlet-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">Script Detail</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--begin::Row-->
							      <div class="row">

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                              <div class="kt-portlet__head  kt-portlet__head--noborder">
                                <div class="kt-portlet__head-label">
                                  <h3 class="kt-portlet__head-title">Total scenes</h3>
                                </div>
                              </div>
                              <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-21">
                                  <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">Count: {{scriptScores.total_scenes}}</div>
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                  </div>
                                </div>
                                <div class="kt-widget-21">
                                    <div class="kt-widget-21__title">
                                      <div class="kt-widget-21__label">Genre Average: {{scriptScores.averages[0].avg_scenes}}</div>
                                      <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Total scene descriptions</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                              <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Count: {{scriptScores.total_scene_descriptions}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                              </div>
                              <div class="kt-widget-21">
                                  <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">Genre Average: {{scriptScores.averages[0].average_scene_descriptions}}</div>
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                  </div>
                              </div>
                            </div>
                          </div>
                          </div>

                    <!--begin::Portlet-->
                    <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                        <div class="kt-portlet kt-portlet--height-fluid">
                          <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                              <h3 class="kt-portlet__head-title">Average Scene Description Length</h3>
                            </div>
                          </div>
                          <div class="kt-portlet__body kt-portlet__body--fluid">
                            <div class="kt-widget-21">
                              <div class="kt-widget-21__title">
                                <div class="kt-widget-21__label">Lines: {{scriptScores.avg_scene_length}}</div>
                                <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                              </div>
                            </div>
                            <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Genre Average: {{scriptScores.averages[0].avg_scene_description_length}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>

                    <!--begin::Portlet-->
                    <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                        <div class="kt-portlet kt-portlet--height-fluid">
                          <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                              <h3 class="kt-portlet__head-title">Average Dialog Length</h3>
                            </div>
                          </div>
                          <div class="kt-portlet__body kt-portlet__body--fluid">
                            <div class="kt-widget-21">
                              <div class="kt-widget-21__title">
                                <div class="kt-widget-21__label">Lines: {{scriptScores.avg_dialog_length}}</div>
                                <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                              </div>
                            </div>
                            <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Genre Average: {{scriptScores.averages[0].avg_dialog_length}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Dialog to Scene Description Ratio</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                              <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Ratio: {{scriptScores.dialog_scene_ratio}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                              </div>
                              <div class="kt-widget-21">
                                  <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">Genre Average: {{scriptScores.averages[0].avg_dialog_scene_ratio}}</div>
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Page Count</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                              <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Count: {{scriptScores.pages}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                              </div>
                              <div class="kt-widget-21">
                                  <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">Genre Average: {{scriptScores.averages[0].avg_page_count}}</div>
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Longest Scene</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                              <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Scene description: {{scriptScores.longest_scene[0]}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">Scene number: {{scriptScores.longest_scene[1]}}</div>
                                  <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Longest Monolog</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-21">
                                  <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">Character: {{scriptScores.longest_monolog.char}}</div>
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                  </div>
                                  <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">Lines: {{scriptScores.longest_monolog.dia_len}}</div>
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>

                      <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Scenes by Character (top 5)</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                              <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                  <div class="kt-widget-21__label">
                                    <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                    <div *ngFor="let char of scriptScores.scenes_by_char">{{char[0]}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  {{char[1]}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--begin::Portlet-->
                      <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
                          <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head  kt-portlet__head--noborder">
                              <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Lines by Character (top 5)</h3>
                              </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                              <div class="kt-widget-21">
                                <div class="kt-widget-21__title">
                                    <div class="kt-widget-21__label">
                                        <img src="./assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                                        <div *ngFor="let char of scriptScores.lines_by_char">{{char[0]}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{char[1]}}</div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                  <!-- end:: row-->
                  <button type="button" class="btn-primary btn" style="color: white; line-height: 1em;-webkit-appearance: inherit;"  id="loadFileXml" value="sentiments" (click)="getSentimentGraphs()">Sentiment Graphs</button>
                  
                  <!--begin::Portlet-->
									<div *ngIf="sentiment_loading" class="kt-portlet">
                      <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                          <h3 class="kt-portlet__head-title">Sentiment Analysis by Scene</h3>
                        </div>
                      </div>
                      <div class="kt-portlet__body">
                          <canvas id="canvas" style="width:75%;"></canvas>
                      </div>
                    </div>
                  <!--end::Portlet-->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Launch demo modal
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Scriptmaestro</h5>
                        </div>
                        <div class="modal-body">
                          <h2 style="text-align:center">Pricing</h2>
                            <div class="columns">
                              <ul class="price">
                                <li class="header">Basic</li>
                                <li class="grey">$3.99 upload</li>
                                <li>Single upload</li>
                              </ul>
                            </div>
                            <div class="columns">
                              <ul class="price">
                                <li class="header" style="background-color:#4CAF50">Pro</li>
                                <li class="grey">$9.99 <br> <span style="white-space: nowrap;">3 uploads</span></li>
                                <li>3 uploads</li>
                              </ul>
                            </div>
                            <div class="columns">
                              <ul class="price">
                                <li class="header">Premium</li>
                                <li class="grey">$29.99 month</li>
                                <li>Unlimited</li>
                              </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end:: Wrapper -->
            </div>
            <!-- end:: Page -->
        </div>
    </div>
